<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->

<head>

    <title>Register</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/style1.css" type="text/css" media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

</head>
<!-- //Head -->

<!-- Body -->

<body>

    <section class="main">

        <div class="bottom-grid">
            <div class="logo">
                <h1>register</h1>
            </div>
        </div>
        <div class="content-w3ls">
            <div class="text-center icon">
                <span class="fa fa-meetup"></span>
            </div>

            <div class="content-bottom">
                <form action="/register" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="name" id="text1" type="text" value="" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="pass" id="myInput" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="cpass" id="text1" type="password" value="" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="phone" id="text1" type="text" value="" placeholder="phone" required>
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020 Meetup signin form. All rights reserved | Design by </p>
        </div>
    </section>

</body>
<!-- //Body -->

</html>